:root {
    --primary-color: #3778fa;
    --background-color: #fff;
    --text-color: #000;
    --font-body: 'SpaceGrotesk', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'SpaceGrotesk';
    src: url('fonts/SpaceGrotesk-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'SpaceGrotesk';
    src: url('fonts/SpaceGrotesk-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'SpaceGrotesk';
    src: url('fonts/SpaceGrotesk-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

body {
    font-family: var(--font-body);
    background: var(--background-color);
    color: var(--text-color);
}

img {
    width: 100%;
    display: block;
}

ul {
    text-decoration: none;
}

li {
    text-decoration: none;
}

a {
    text-decoration: none;
}
