:root {
    --primary-color: #3778fa;
    --second-color: #f3f3f3;
    --background-color: #fff;
    --text-color: #000;
    --font-body: 'SpaceGrotesk', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'SpaceGrotesk';
    src: url('fonts/SpaceGrotesk-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'SpaceGrotesk';
    src: url('fonts/SpaceGrotesk-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'SpaceGrotesk';
    src: url('fonts/SpaceGrotesk-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

body {
    font-family: var(--font-body);
    background: var(--background-color);
    color: var(--text-color);
}

img {
    width: 100%;
    display: block;
}

ul {
    text-decoration: none;
    list-style: none;
}

li {
    text-decoration: none;
    list-style: none;
}

a {
    text-decoration: none;
    list-style: none;
    color: inherit;
}

.container {
    width: 90%;
    max-width: 1640px;
    margin: 0 auto;
}

#header {
    padding: 1rem 0;
    width: 100%;
}

#header h1 {
    font-size: clamp(1.25rem, 4vw, 2.25rem);
    color: var(--primary-color);
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu-desktop {
    display: none;
}

#login {
    display: none;
}

#img-desktop {
    display: none;
}

.menu-mobile button {
    background: var(--background-color);
    border: 0;
    font-weight: 100;
    font-size: 1.5rem;
}

#hero {
    padding-top: 3.5rem;
}

.hero-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hero-content h2 {
    font-size: 2.5rem;
    text-align: center;
}

.hero-content p {
    font-size: 14px;
    text-align: center;
    padding-top: 1.3rem;
}

.hero-content img {
    padding-top: 2.5rem;
}

#video {
    padding-top: 6.8rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.video-conteudo h3 {
    font-size: 1.8rem;
    text-align: center;
    padding-bottom: 2.1rem;
}

#duvidas {
    padding-top: 6.8rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#duvidas h3 {
    font-size: 1.8rem;
    text-align: center;
    padding-bottom: 5rem;
}

.secao-duvidas {
    background-color: #f3f3f3;
    border-radius: 20px;
    padding: 3rem 1.3rem;
    margin-bottom: 6.25rem;
}

.btn-duvidas {
    padding-top: 3rem;
}

.btn-question {
    font-size: 1rem;
    background-color: #fff;
    border-radius: 8px;
    margin: 0.6rem;
    padding-left: 0.6rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.btn-question p {
    font-size: 0.6rem;
    width: 65%;
    font-weight: 400;
    color: #65676c;
    padding-top: 0.3rem;
}

#footer {
    background-color: var(--primary-color);
    color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.footer-inner {
    padding-top: 4.6rem;
    padding-bottom: 0.5rem;
}

.footer-learn {
    padding-bottom: 1rem;
}

.footer-learn h1 {
    padding-bottom: 1.3rem;
    font-size: 2.8rem;
    width: 70%;
}

.footer-learn p {
    padding-bottom: 2.2rem;
    font-size: 0.8rem;
    width: 65%;
}

.footer-learn a {
    color: #000000;
}

#barra-divisoria::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #fff;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.btn {
    background-color: #fff;
    border-radius: 100px;
    padding: 0.7rem 1.2rem;
    font-weight: 600;
}

.footer-discover {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 4.6rem;
}

.footer-discover-conteudo {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.footer-discover-conteudo h3 {
    padding-bottom: 1rem;
    font-size: 1.2rem;
}

.footer-discover-conteudo p {
    font-size: 0.8rem;
}

.footer-discover-btn {
    display: flex;
    flex-direction: column;
}

.footer-discover-btn a {
    font-size: 0.8rem;
    padding-bottom: 1.5rem;
    color: #fff;
}

.footer-others {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 4.4rem;
}

.footer-others a {
    color: #fff;
}

.footer-duvidas {
    display: flex;
    flex-direction: column;
}

.footer-duvidas a {
    font-size: 0.8rem;
    padding-bottom: 2rem;
}

.footer-terms {
    display: flex;
    flex-direction: column;
}

.footer-terms a {
    font-size: 0.8rem;
    padding-bottom: 2rem;
}

.footer-social {
    display: flex;
    flex-direction: column;
}

.footer-social a {
    font-size: 0.8rem;
    padding-bottom: 2rem;
}

.final-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.final-footer p {
    font-size: 0.9rem;
    weight: 400;
    text-align: center;
    padding-bottom: 1.5rem;
}

.green {
    color: #a0da7a;
}

@media (min-width: 768px) {

    .menu-mobile {
        display: none;
    }

    #menu-desktop {
        display: flex;
        justify-content: space-between;
        gap: 2.6rem;
        font-size: calc(1rem + 2px);
    }

    #login {
        display: flex;
    }

    #login ul {
        display: flex;
        gap: 2.4rem;
        font-weight: 600;
    }

    .btn-header {
        color: #fff;
        background: var(--primary-color);
        border-radius: 100px;
        padding: 1.1rem 2.1rem;
    }

    #hero {
        padding-top: 8.9375rem;
    }

    .hero-content h2 {
        font-size: 8.5rem;
        width: 80%;
    }

    .hero-content p {
        font-size: 1.5rem;
        width: 839px;
    }

    .hero-content img {
        padding-top: 4.5rem;
    }

    #video {
        padding-top: 18.8125rem;
    }

    .video-conteudo h3 {
        font-size: 6.25rem;
        padding: 0;
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    .video-conteudo img {
        padding-top: 8.5rem;
    }

    #img-mobile {
        display: none;
    }

    #img-desktop {
        display: flex;
        align-items: end;
        justify-content: end;
        width: auto;
        height: 939px;
        padding-top: 7.5rem;
        padding-left: 5.6875rem;
    }

    #duvidas {
        padding-top: 18.75rem;
    }
    
    #duvidas h3 {
        padding-bottom: 4.9375rem;
        font-size: 8.5rem;
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    
    .secao-duvidas {
        padding: 0;
        display: flex;
        flex-direction: row;
        height: 939px;
    }
    
    .btn-duvidas {
        padding-top: 7.5rem;
        padding-left: 6.1875rem;
        width: 842px;
        margin-right: 2rem;
    }
    
    .btn-question {
        font-size: 1.875rem;
        background-color: #fff;
        border-radius: 16px;
        margin-top: 1.625rem;
        padding: 2.875rem 2rem;
        width: 100%;
        box-sizing: border-box;
    }
    
    .btn-question p {
        font-size: 1.25rem;
        width: 50%;
        margin-top: 1rem;
    }
    
    .footer-learn {
        padding-bottom: 1rem;
        display: flex;
        flex-direction: row;
    }
    
    .footer-learn h1 {
        font-size:  8.5rem;
        width: 70%;
    }
    
    .footer-learn p {
        font-size:  1.5rem;
        text-align: justify;
        width: 75%;
    }
    
    .footer-learn a {
        font-size: 1.375rem;
    }

    .desktop-footer {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
    }
    
    #barra-divisoria::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: #fff;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    
    .btn {
        padding: 1.375rem 2.625rem;
    }

    .desktop-footer-links {
        display: flex;
        justify-content: space-between;
        gap: 10%;
    }

    .footer-discover {
        display: flex;
        justify-content: space-between;
        width: 50%;
    }

    .footer-discover-btn {
        width: 159px;
    }

    .footer-discover-conteudo {
        width: 90%;
    }
    
    .footer-discover-conteudo h3 {
       font-size: 2.5rem; 
    }
    
    .footer-discover-conteudo p {
        font-size: 1.25rem;
        width: 323px;
    }
    
    .footer-discover-btn a {
        font-size: 1.375rem;
        width: 165px;
    }
    
    .footer-others {
      display: flex;
      justify-content: space-between;
      width: 50%;
    }
    
    .footer-others a {
        font-size: 1.375rem;
    }
    
    .footer-duvidas a {
        font-size: 1.375rem;
    }
    
    .footer-terms a {
        font-size: 1.375rem;
    }
    
    .footer-social a {
        font-size: 1.375rem;
    }
    
    .final-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .final-footer p {
        font-size: 1.125rem;
    }

}